# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración sensibles
*.env

# Cache de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de logs
*.log

# Config de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros (por si acaso)
*.sqlite3
